Objects and Data Structures Assessment Test
Test your knowledge.
Answer the following questions

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: refers to integers, whether positive or negative, including zero; and floating numbers, have decimal pts

Strings: characters included within single or double quotes

Lists: mutable listing of items, an object that can include any combination of data types. They use []

Tuples: similar to lists but inmutable (cannot reassign items in tuple), uses (). Two methods; .count() and .index()

Dictionaries: unordered listing of key, value pairs. Use {} and : to assign value to key

Numbers
Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
- 0.75 + 10**2 + (2 * 3) - 20 / 4

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5)     44

What is the value of the expression 4 * 6 + 5       29

What is the value of the expression 4 + 6 * 5       34

In [3]:
4 * (6 + 5)

44

In [4]:
4 * 6 + 5

29

In [5]:
4 + 6 * 5

34


What is the type of the result of the expression 3 + 1.5 + 4?      Float


What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:  num ** 0.5

In [ ]:
# Square:   num ** 2

Strings
Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [6]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'


Reverse the string 'hello' using slicing:

In [7]:

s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'


Given the string hello, give two methods of producing the letter 'o' using indexing.

In [9]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [8]:
# Method 2:
s[-1]

'o'

Lists
Build this list [0,0,0] two separate ways.

In [10]:
# Method 1:

[0] * 3

[0, 0, 0]

In [11]:
# Method 2:
my_list = [0,0,0]

In [12]:
my_list

[0, 0, 0]


Reassign 'hello' in this nested list to say 'goodbye' instead:

In [13]:

list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'

In [14]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [16]:
list4 = [5,3,4,6,1]

In [17]:
list4.sort()

In [18]:
list4

[1, 3, 4, 5, 6]

Dictionaries
Using keys and indexing, grab the 'hello' from the following dictionaries:

In [20]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [21]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [22]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [23]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?   No, a dictionary is unordered


Tuples
What is the major difference between tuples and lists?
Tuples are inmutable

How do you create a tuple?
Using parenthesis, separating items with commas


Sets
What is unique about a set?   
Sets contain a collection of only UNIQUE items


Use a set to find the unique values of the list below:

In [25]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [26]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}


Booleans
For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

Operator	Description	Example
==	If the values of two operands are equal, then the condition becomes true.	(a == b) is not true.
!=	If values of two operands are not equal, then condition becomes true.	(a != b) is true.
>	If the value of left operand is greater than the value of right operand, then condition becomes true.	(a > b) is not true.
<	If the value of left operand is less than the value of right operand, then condition becomes true.	(a < b) is true.
>=	If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	(a >= b) is not true.
<=	If the value of left operand is less than or equal to the value of right operand, then condition becomes true.	(a <= b) is true.
What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [27]:

# Answer before running cell -- False
2 > 3

False

In [28]:
# Answer before running cell  -- False
3 <= 2

False

In [29]:

# Answer before running cell  -- False
3 == 2.0

False

In [30]:
# Answer before running cell  -- True
3.0 == 3

True

In [31]:
# Answer before running cell  -- False
4**0.5 != 2

False


Final Question: What is the boolean output of the cell block below?

In [32]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?  3>=4 ? False
l_one[2][0] >= l_two[2]['k1']

False